<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">






  <link href='{{site.baseurl}}/assets/js/fullcalendar/core/main.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/assets/js/fullcalendar/daygrid/main.css' rel='stylesheet' />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.css">
  <link rel="stylesheet" media="print" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.print.css">


    <script type="text/javascript"

            src="{{site.baseurl}}/assets/js/fullcalendar/moment/main.min.js"
            src='{{ site.baseurl }}/assets/js/fullcalendar/core/main.js'
            src='{{ site.baseurl }}/assets/js/fullcalendar/daygrid/main.js'
            src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js">

  </script>







</head>
