<nav class="navbar rounded navbar-expand-md navbar-dark bg-dark mb-4 navbar-custom">
  <a class="navbar-brand" href="{{ site.baseurl }}">{{site.title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
    <ul class="navbar-nav">

      {% for item in site.data.navbar %}
      {% if item.sub == true %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{item.title}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for entry in item.subfolderitems %}
          <a class="dropdown-item" href="{{ entry.url }}">{{ entry.page }}</a>
          {% endfor %}
        </div>
      </li>
      {% endif %}
      {% if item.sub == false %}

      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{item.title}}<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
      {% endfor %}







    </ul>

  </div>
</nav>
