<h1> Organization Officers </h1>

<div class="officers">
   <table>
<div class="container-fluid">
  <div class="row">
    
      
       
 
    {% tablerow officers in site.data.officers  %}
    <div class="col-sm-3 col-md-6 col-lg-9">



    <div class="card" style="width:10rem; height: 20rem;">
      <img class="card-img-top" src={{site.baseurl}}{{officers.image}} alt="Officer Headshot Image">
      <div class="card-body">
        <h5 class="card-title">{{officers.name}}</h5>
        <h7 class="card-text">{{officers.ORGposition}}</h7>
        <h7 class="card-text">{{officers.email}}</h7>

      </div>
    </div>
 </div>

    {% endtablerow %}

      
   
  </div>
  </div>
          </table>                     
  
  
  
 

</div>
