<h1> Organization Officers </h1>

<div class="officers">
  <div class="container-fluid">
    <div class="row">
      {% for officers in site.data.officers %}
      <div class="col">
        <div class="card text-center mb-3" style="width:13rem; height: 20rem;">
          <img class="card-img-top" src={{site.baseurl}}{{officers.image}} alt="Officer Headshot Image">
          <div class="card-body">
            <h5 class="card-title">{{officers.name}}</h5>
            <h7 class="card-text">{{officers.ORGposition}}</h7>
            <h7 class="card-text">{{officers.email}}</h7>
          </div>
        </div>
      </div>
      {% endfor%}
    </div>
  </div>
</div>
