<div class="container">
  <div class="card rounded mb-4">
    <div class="card-header text-center"> Events </div>
    <div class="card-body text-center">
      <p class="card-text">Calendar</p>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

    </div>
  </div>
  <div class="card">
    <div class="card-header text-center"> Programs </div>
    <div class="card-body text-center">


      <p class="card-text">New Workshops</p>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>



    </div>
  </div>
</div>
