<div class="container">
  <div class="card rounded mb-4">
    {% if {{page.url}} == "/" %}
    <div class="card mb-3">
      <div class="card-header text-center"> Programs </div>
      <div class="card-body text-center">

        <p class="card-text">New Workshops</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header text-center"> Events </div>
      <div class="card-body text-center">


        <p class="card-text">{{page.events}}</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>



      </div>
    </div>
    {% else %}

    <div class="card-header text-center mb-3">  Recent Updates </div>
    <div class="card-body text-center">
      <ul class="list-group list-group-flush">

        {% for post in site.posts limit:2 %}

           <li class="list-group-item"> <p class="card-text" ><a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} </a></p>
               <p class="card-text"></p>
           </li>






        {% endfor %}
        </ul>

    </div>
    {% endif %}
  </div>

</div>
