<h1> Organization Sponsors </h1>

<div class="sponsors">.
  <div class="container-fluid">
    <div class="row">

    {% for sponsors in site.data.sponsors %}
<div class="col">
    <div class="card" style="width:13rem; height: 20rem;">
      <img class="card-img-top" src={{sponsors.image}} alt="Org Sponsor">
      <div class="card-body">
        <h5 class="card-title">{{sponsors.sponsor_name}}</h5>
        <h7 class="card-text"><a href={{sponsors.URL}}> Website </a></h7>


      </div>
    </div>
      </div>


    {% endfor %}

    </div>
</div>
